# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
SAE2024/.vscode/extensions.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

api.geoquizz/geoquizz.components/data
api.geoquizz/geoquizz.components/uploads
api.geoquizz/auth.geoquizz/vendor
api.geoquizz/parties.geoquizz/vendor
api.geoquizz/services.geoquizz/node_modules
api.geoquizz/services.geoquizz/package-lock.json
api.geoquizz/series.geoquizz