




label {
  display: block;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #717295;
  align-items: center;
  margin-bottom: 1rem;
}

.connexion {
  background-color: #42B480;
  color: #ffffff;
  padding: 10px;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-family: 'Protest Riot', sans-serif;
}



