@import url(_nav.scss);
@import url(_loginform.scss);


@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

  body{
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    font-family: 'Protest Riot', sans-serif;
    text-decoration: none;
    background-color: #42B480;
    color: #ffff;
    padding: 10px 20px;
    margin: 1.5em;
    border: 2px solid #42B480;
    border-radius: 5px;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
    width: 25%;
    text-align: center;
  }



.game-container{
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
    height: auto;
}

.page-container {
display: flex;
flex-direction: column;
color: #ffffff;
font-family: 'Protest Riot', sans-serif;
padding: 20px;
background-color: #1F1E2E;
}

.mapstyle{
  height: auto; 
  width: 50%; 
  border: 2px solid grey;
}
